.backTitle{
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.backIcon{

}
.backInfo{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;

    /* Black */

    color: #000000;
}
.inputsList{
    margin-top: 24px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.inputElement{

}
.inputElement input{
    padding-left: 24px;
    height: 54px;
    width: 100%;
    background: #F5F5F5;
    border-radius: 25px;
    border: 0;
    outline: none;

}
.inputElementImg input{
    padding-left: 24px;
    height: 54px;
    width: 100%;
    background: #F5F5F5;
    border-radius: 25px;
    border: 0;
    outline: none;
    background-image: url("../../images/loupe.svg");
    background-repeat: no-repeat;
    background-position: 95%;

}