.myModal{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
}

.myModalContent{
    padding: 25px;
    background: white;
    border: 3px solid #97C15B;
    border-radius: 20px;
    min-width: 250px;
}

.myModal.active{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btnUpdate__wrapper{
    width: 80%;
}
.btnUpdate{
    background: #97C15B;
    /* Green */

    border: 2px solid #97C15B;
    border-radius: 25px;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    /* White */
    cursor: pointer;
    color: #FFFFFF;
    filter: drop-shadow(4px 8px 24px rgba(151, 193, 91, 0.25));
}
.title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    /* Black */

    color: #000000;
}