.navigation{
    background-color: #f7f6f4;
    position: fixed;
    bottom: 0;
    z-index: 100;
    height: 77.08px;
    width: 95%;
    border: 2px solid #97C15B;
    border-radius: 28.2254px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.navigate_inactive {
    color: #000000!important;
    text-decoration: none!important;
}
.navigate_inactive .iconHome{
    background-image: url("../../../images/main.svg");
}
.navigate_inactive .iconFavourite{
    background-image: url("../../../images/favourite.svg");
}
.navigate_inactive .iconBooking{
    background-image: url("../../../images/booking.svg");
}
.navigate_inactive .iconProfile{
    background-image: url("../../../images/profile.svg");
}
.navigate_active {
    /* Green */
    color: #97C15B!important;
    text-decoration: none!important;
}
.navigate_active .iconHome{
    background-image: url("../../../images/main-active.svg");
}
.navigate_active .iconFavourite{
    background-image: url("../../../images/favourite-active.svg");
}
.navigate_active .iconBooking{
    background-image: url("../../../images/booking-active.svg");
}
.navigate_active .iconProfile{
    background-image: url("../../../images/profile-active.svg");
}
.iconHome, .iconFavourite,.iconBooking, .iconProfile{

    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 30px;
}
.description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    text-align: center;
}
