.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    gap: 50px;
}
.title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    text-align: center;

    /* Black */

    color: #000000;
    margin-top: 20px;
}
.picture{
    display: flex;
    justify-content: center;
}
.bottom{
}
.description{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;

    color: #000000;
    padding-left: 30px;
    padding-right: 30px;
}
.btnUpdate__wrapper{
    padding: 0 20px;
    margin-bottom: 30px;
}
.btnUpdate{
    background: #97C15B;
    /* Green */

    border: 2px solid #97C15B;
    border-radius: 25px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 34px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    /* White */
    cursor: pointer;
    color: #FFFFFF;
    filter: drop-shadow(4px 8px 24px rgba(151, 193, 91, 0.25));
}